{% extends "base.html" %}
{% block content %}
	{% for story in stories %}
	<div class="card">
		<div class="card-content">
			<h2 class="card-title">{{ story.title }}</h2>
			<p class="card-sum">{{ story.summary }}</p>
			<span class="card-link">
				<a href="{{ story.url }}">Link</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://news.ycombinator.com/item?id={{ story.id }}">View on HN</a>
			</span>
		</div>
	</div>
	{% endfor %}
	<div id="pagination">
		{% if prev_page %}
		<a href="{{ prev_page }}">Previous</a>
		{% endif %}
		{% if next_page %}
		<a href="{{ next_page }}">Next</a>
		{% endif %}
	</div>
{% endblock %}
